<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FazendaUrbanaApp.Properties.Settings.FazendaUrbanaConnectionString"
            connectionString="Data Source=DESKTOP-T25RSRN;Initial Catalog=FazendaUrbana;Persist Security Info=True;User ID=sa;Password=Goias@123;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>